{% extends "basic_app/base.html" %}
{% load staticfiles %}

{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      {% if registered %}
        <h1>Thank you for registering! {{  allUserPro  }} </h1>
{% for userpro in allUserPro %}
<h2> item </h2>
<h3> {{  userpro.user.username }}  <h3>

<img src="{{ userpro.profile_pic.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" />

{% endfor %}   

   {% else %}
        <h1>Register Here</h1>
        <h3>Just fill out the form.</h3>

        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ user_form.as_p }}
          {{ profile_form.as_p }}
          <input type="submit" name="" value="Register">
        </form>

      {% endif %}

    </div>

  </div>

{% endblock %}
